{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>BossMob</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/site.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="save" content="history">
    <link rel = "Shortcut Icon" href="{% static 'favicon.ico' %} ">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.6.9/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdn.muicss.com/mui-0.6.9/js/mui.min.js"></script>
    <script type="text/javascript">
      var a;
      var timerid1; 
      timerid1 = setInterval(mmm, 300); 
      function mmm(){
        // $(".jumbotron text-center").load(window.location.href +".jumbotron text-center h3");
        $("#name").load(window.location.href +"#name h3");
        a = document.getElementById("logo").innerText; 
        if(a=='Parking'){
          // $("#playsound").trigger("click");
          $("#start2").trigger("click");  
          $("#stop1").trigger("click"); 
        
        }
      }
  
      function StartClock1() {
        timerid1 = setInterval(mmm, 300); 
      }
  
      function StopClock1() {
        clearInterval(timerid1);
      }
    </script>
    
    <script type="text/javascript">
      var a2;
      var timerid2; 
      
      function mmm2(){
        // $(".jumbotron text-center").load(window.location.href +".jumbotron text-center h3");
        $("#name").load(window.location.href +"#name h3");
        a2 = document.getElementById("logo").innerText;
        if(a2 =='Now safe'){
          // $("#stopsound").trigger("click");
          $("#start1").trigger("click");
          $("#move").trigger("click");
          $("#stop2").trigger("click");
        }
      }
  
      function StartClock2() {
        timerid2 = setInterval(mmm2, 300); 
      }
  
      function StopClock2() {
        clearInterval(timerid2);
      }
    </script>

    <style type="text/css">
      html {
        height: 100%;
        width:  100%;
        overflow: hidden;
      }
      body {
        height: 100%;
        width:  100%;
      }
    
  

      #title{
        text-align: center;
        letter-spacing: 0.5em;
        /*font-size : 25px;
        font-family:"Fantasy";*/
      }
      #border{
        width: 100%;
        height: 700px;
        
        border: 3px solid #000;
      }
    </style>

    <style>
      img { display: block; margin: 0px auto; }
    </style>
    <script>
        function move1(){
          var a1 = document.getElementById("hostip").innerText;
          location.href='http://'+ a1 ;
        }
    
        function move2(){
          var a2 = document.getElementById("hostip").innerText;
          location.href='http://'+ a2 +'/?action=baby';   
        }
    </script>

    <div id="divBtnDelete" style="display:none;">
      <button id = "move" onclick="move();">move</button>
      <button id = "playsound" onclick="playsound();"></button>
      <button id = "stopsound" onclick="stopsound();"></button>  
      <button id = "start1" onclick="StartClock1();"></button>  
      <button id = "start2" onclick="StartClock2();"></button>  
      <button id = "stop1" onclick="StopClock1();"></button>  
      <button id = "stop2" onclick="StopClock2();"></button> 
    </div>
    <button id = "playsound" onclick="playsound();">play</button>
    <!-- <script>
      var a;
      function end(){
        setTimeout(function() {
        // location.href='http://192.168.43.138:8000/?action=main'; 
          var e = document.getElementById("ending").innerText;
        if (e=='ending'){
          document.getElementById("switch").innerHTML = '<video src="static/video/ending.mp4" width=100% height=100% controls>'; 
        }else{
          document.getElementById("switch").innerHTML = '<img src="http://192.168.43.246:8080/?action=stream" alt="This is a static snapshot" width=100% height=100%/>'; 
        }
        }, 10);    
      }
    </script> -->
    <div id="maincamip" style="display:none;">{{maincamip}}</div>
    <script type="text/javascript">
      var a3;
      var timerid3;
      a3 = document.getElementById("maincamip").innerText;
      b1 = "'<img src=";
      b2 = "width=100% height=100%/>'";
      timerid3 = setTimeout(mmm3,1);
      function mmm3(){
        document.getElementById("camera").innerHTML = b1+a3+b2;
      }
    </script>
    <!-- <script>
    setTimeout(function() {
      // location.href='http://192.168.43.138:8000/?action=main'; 
        var e = document.getElementById("ending").innerText;

      if (e=='ending'){
        document.getElementById("switch").innerHTML = '<img src="static/image/ending.png" width=100% height=100% controls>'; 
      }else{
        document.getElementById("switch").innerHTML = '<img src="http://192.168.43.246:8080/?action=stream" alt="This is a static snapshot" width=100% height=100%/>'; 
      }
      }, 10);  
    </script> -->
    <script>
      function playsound(){   
        document.getElementById("sound").innerHTML='<audio autoplay="autoplay" loop><source src="/static/music/chimes.mp3" type="audio/mpeg"/></audio>';
      }
    </script> 
  </head>

  <body>
  <div id="ending" style="display:none;">{{ending}}</div>
  <div id="hostip" style="display:none;">{{hostip}}</div>
  <div id="maincamip" style="display:none;">{{maincamip}}</div>
  <div id="mainstate" style="display:none;">{{mainstate}}</div>
  <script>
    function move(){
      setTimeout(function() {
        // location.href='http://192.168.43.138:8000/?action=main'; 
        var a6 = document.getElementById("hostip").innerText;
        location.href='http://'+ a6;   
      }, 1000);  
    }  
  </script>
  <div id="sound"></div>
  <div class="jumbotron text-center">
    
    <!-- <h1 style="font-size:30px">BossMob</h1> -->
    <div id = "name">
      <h3 id="logo" style="float:center; font-size:100px;" class="bg-success text-white">{{mainstate}}</h3>   
    </div>
  </div>  
  
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <hr/>
        <!-- <h3 id="title">Main</h3> -->
        <img src="static/image/car2.png" width="12%" height="12%" alt="My Image">
        <hr/>
        <div class="container">

          <!-- <img src="http://192.168.43.246:8080/?action=stream" alt="This is a static snapshot" width=100% height=100%/> -->
          <div id ="camera">
            
          </div>

        </div>
      </div>

    <!--   <div class="col-md-1">
        <div class="container">
          <div class="row">
            <button type="button" class="btn btn-outline-dark btn-block btn-lg" onclick="location.href='http://192.168.43.221:8000';">Home</button>
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <div class="container">
          <div class="row">
            <button type="button" class="btn btn-outline-dark btn-block btn-lg" onclick="location.href='http://192.168.43.221:8000/?action=baby';">Baby</button>
          </div>
        </div>
      </div> -->

      <div class="col-md-4">
        <div class="container">
          <div class="row">
             <p><pre> 




            </pre></p>
            <button type="button" class="btn btn-outline-dark btn-block btn-lg" onclick="move1()"><img src="static/image/home.png" width="12%" height="12%" alt="My Image"></button>
            <button type="button" class="btn btn-outline-dark btn-block btn-lg" onclick="move2()"><img src="static/image/smiling-baby.png" width="12%" height="12%" alt="My Image"></button>
            

          
          </div>

          
        </div>
      </div>


    </div>
  </div>

    
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>

